html, body {
    background: rgb(194, 194, 194);
    scroll-behavior: smooth;
    margin: 0px;
    font-family: "sans-serif" monospace;
    overflow-x: hidden;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  #welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgb(112,112,112);
    background: radial-gradient(circle, rgba(112,112,112,1) 0%, rgba(43,43,43,1) 100%);
    font-size: 3em;
    margin-bottom: 100px;
    color: #00c0ff;
  }
  
  .my-projects {
    max-width: fit-content;
    width: 45%;
    height: 300px;
    margin: 20px;
    border: 10px #1c1c1c solid;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }
  
  .project-img {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 110px;
  }
  
  .my-projects .project-img {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
  
  #projects .project-img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  header {
    color: #fff;
    font-size: 3.5em;
    text-align: center;
  }
  
  .project-tile {
    background-color: #1c1c1c;
    color: #fff;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
  }
  
  .p-div {
    position: relative;
    top: 222px;
    z-index: 90;
  }
  
  a {
    text-decoration: none;
  }
  
  @media screen and (min-width: 1080px) {
    #projects {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
  
  @media screen and (max-width: 1080px) {
    #projects {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  
  #projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  #navbar{
    background-color: #f4f4f4;
    padding: 1.2rem;
    position: fixed;
    top: 0;
    z-index: 91;
    width: 100vw;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  li {
    margin: 20px;
  }
  
  nav ul a {
    color: #383838;
    text-decoration: none;
  }
  
  footer {
    background-color: #000;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 50px;
  }
  
  footer ul a {
    color: #1c1c1c;
    text-decoration: none;
  }
  
  p, p a {
    color: white;
  }
  
  #a-div{
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    border: 2px solid #1c1c1c;
    border-radius: 2rem;
  }